<footer class="page-footer white">
  <div class="row rowf">
    <div class="col l6 s6">
      <a href="#" class="brand-logo grey-text text-darken-2">
        IEDC
        <span class="red-text">GECT</span>
      </a>

      <!--p class="iedcHeading">
        IEDC<span style="color: #cf0000" font-weight="none"> GECT</span>
      </p-->
    </div>
    <div class="col l4 s6" style="padding-top: 50px">
      <a class="backhometext" href="#"> Back to Home</a>
      <a href="#">
        <i
          class="fa fa-arrow-up"
          style="font-size: 20px; opacity: 70%; color: #707070"
        >
        </i>
      </a>
    </div>
  </div>
</footer>
