<footer class="page-footer white" style="height: 107px">
  <div class="row rowf">
    <div class="col l6 s6">
      <a href="#" class="brand-logo grey-text text-darken-2">
        IEDC
        <span class="red-text">GECT</span>
      </a>

      <!--p class="iedcHeading">
        IEDC<span style="color: #cf0000" font-weight="none"> GECT</span>
      </p-->
    </div>
    <div class="contentPosition col l6 s6">
      <a class="backtoptext" href="#"> Back to Top</a>

      <a href="#"> <img class="topImage" src="/images/arrow.png" /> </a>
    </div>
  </div>
</footer>
