<footer class="page-footer white">
  <div class="container">
    <div class="row">
      <div class="col l6 s6">
        <p class="iedcHeading">
          IEDC<span style="color: #cf0000" font-weight="none"> GECT</span>
        </p>
      </div>
      <div class="col l4 offset-6 s6" style="padding-top: 50px">
        <a class="backhometext" href="#"> Back to Home</a>
        <a href="#">
          <i
            class="fa fa-arrow-up"
            style="font-size: 20px; opacity: 70%; color: #707070"
          >
          </i>
        </a>
      </div>
    </div>
  </div>
</footer>
